################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.db
*.opendb
*.db-wal
*.db-shm
*.suo
/.vs
*.tlog
*.recipe
*.log
*.idb
*.pdb
/Project186/x64/Debug/Source.obj
*.exe
*.ilk
